<nav class="uk-navbar-container" uk-navbar>

    <div class="uk-navbar-left uk-margin-medium-left">

        <p class="uk-logo uk-margin-small-top">Logo</p>

        <ul class="uk-navbar-nav">
            <li class="{% if request.resolver_match.url_name == 'Home' %}uk-active{% endif %}"><a href="{% url 'Home' %}">Home</a></li>
            <li class="{% if request.resolver_match.url_name == 'Categorys' %}uk-active{% endif %}"><a href="{% url 'Categorys' %}">Categories</a></li>
        </ul>

    </div>

    <div class="uk-navbar-right">
        {% if  request.user.is_authenticated %}
            <ul class="uk-navbar-nav">
                <li class="{% if request.resolver_match.url_name == 'WishList' %}uk-active{% endif %}"><a href="{% url 'WishList' %}">Wishlist<span uk-icon="icon: heart"></span></a></li>
                <li class="{% if request.resolver_match.url_name == 'CartView' %}uk-active{% endif %}"><a href="{% url 'CartView' %}">Cart<span uk-icon="icon: cart"></span></a></li>
                <li>
                    <a href="#" style="color:black" class="uk-margin-medium-right">{{request.user}}<span uk-icon="icon: user"></span></a>
                    <div class="uk-navbar-dropdown">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                            <li class="uk-nav-header">Profile</li>
                            <li><a href="#"><span uk-icon="icon: settings"></span> Settings</a></li>
                            <li><a href="{% url 'MyOrders' %}"><span uk-icon="icon: thumbnails"></span> My Orders</a></li>
                            <li class="uk-nav-divider"></li>
                            <li class="uk-active"><a href="{% url 'Logout' %}"><span uk-icon="icon: sign-out"></span> Logout</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        {% else %}
        <ul class="uk-navbar-nav">
            <li class="uk-active"><a href="{% url 'Register' %}">Register</a></li>
            <li class="uk-active uk-margin-medium-right"><a href="{% url 'Login' %}">Login</a></li>
        </ul>
        {% endif %}

    </div>
</nav>