{% extends 'store/layout/main.html' %}

{% block content %}

<div class="uk-background-primary uk-light uk-padding-small">
    <a style="text-decoration:none" href={% url 'Home' %}> Home /</a>
    <a style="text-decoration:none" href={% url 'WishList' %}> Wish List</a>
</div>


{% if wishlist %}
<div class="uk-container">
    <div class="uk-overflow-auto">
        <table class="uk-table uk-table-hover uk-table-middle uk-table-divider">
            <thead>
                <tr>
                    <th class="uk-table-shrink"></th>
                    <th class="uk-table-expand"></th>
                    <th class="uk-width-small"></th>
                    <th class="uk-table-shrink"></th>
                    <th class="uk-table-shrink"></th>
                </tr>
            </thead>
            <tbody>
                {% for item  in wishlist %}
                    <tr class="product-data">
                        <td><img class="uk-preserve-width" src="{{ item.product.product_image.url}}" width="90" height="90" alt=""></td>
                        <td class="uk-table-link uk-text-center">
                            {% csrf_token %}
                            <input type="hidden" value="{{item.product.id}}" class="prod-id">
                            <p class="uk-link-reset">{{item.product.name}}</p>
                        </td>
                        <td class="uk-text-center">$ {{item.product.selling_price | stringformat:'d'}}</td>
                        <td class="uk-preserve-width uk-text-center" width="200">
                            <a href="{% url 'ProductView' item.product.category.slug item.product.slug %}">
                                <button class="uk-button uk-button-primary uk-text-center"><span uk-icon="icon: info"></span> View Product</button>
                            </a>
                        </td>
                        <td class="uk-preserve-width uk-text-center" width="140">
                            <a href="{% url 'DeleteItemWL' item.id %}">
                                <button class="uk-button uk-button-danger uk-text-center"><span uk-icon="icon: trash"></span>Remove</button>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% else %}
<div class="uk-container">
    <div class="uk-card uk-card-default uk-card-body uk-text-center uk-box-shadow-large">
        <h1>Your wishlist is empty</h1>
    </div>
</div>
{% endif %}
    
{% endblock content %}
