{% extends 'store/layout/main.html' %}

{% load static %}

{% block content %}

<div class="uk-background-primary uk-light uk-padding-small">
    <a style="text-decoration:none" href={% url 'Home' %}> Home /</a>
    <a style="text-decoration:none" href={% url 'Categorys' %}> Collections /</a>
    <a style="text-decoration:none" href="{% url 'CategorysView' product.category.slug %}"> {{product.category.name}} /</a>
    <a style="text-decoration:none" href="{% url 'ProductView' product.category.slug product.slug %}"> {{product.name}}</a>
</div>

<div class="uk-container uk-container-large">
    <div class="uk-flex-center" > 
        <div class="row">
            <div class="uk-card uk-card-default uk-card-body uk-width-1-1 uk-margin-medium-top product-data uk-box-shadow-large">
                <div class="uk-grid-collapse uk-child-width-1-2 uk-text-center uk-margin-medium-bottom" uk-grid>
                    <div class="uk-width-1-5@m uk-width-1-3@l">
                        <div class="uk-background uk-inline">
                            <img src="{{ product.product_image.url }}" alt="Product Image">
                            {% if product.tag %}
                                <span class="uk-position-top-right uk-label uk-label-danger">{{product.tag}}</span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="uk-width-3-5@m uk-width-2-3@l">
                        <div class="uk-background uk-margin-left">
                            <div class="uk=background">
                                <h3 class="uk-heading-divider uk-text-left">{{product.name}}</h3>
                                {% if product.trending %}
                                    <span class="uk-label uk-position-top-right uk-margin-medium uk-margin-medium-right">Trending</span>
                                {% endif %}
                            </div>
                            <div class="uk=background uk-heading-divider">
                                <div class="uk-grid-collapse uk-child-width-expand@s" uk-grid>
                                    <div class="uk-inline">
                                        <p class="uk-text-normal uk-text-left">Original Prince: <s>{{ product.original_price | stringformat:'d'}}</s></p>
                                    </div>
                                    <div>
                                        <p class="uk-text-bold uk-text-left">Selling Prince: {{ product.selling_price | stringformat:'d'}}</p>
                                    </div>
                                    <p></p>  
                                </div>    
                                <p class="uk-text-normal uk-text-left">{{product.small_description}}</p>                  
                            </div>
                            <div class="uk=background uk-text-left uk-margin-small-top">
                                {% if product.quantity > 0  %}
                                    <span class="uk-label uk-label-success">In Stock</span>
                                {% else %}
                                    <span class="uk-label uk-label-danger">Out of Stock</span>
                                {% endif %}
                            </div>
                            <div class="uk-grid uk-text-left uk-margin-small-top">
                                <div class="uk-width-1-3@m">
                                    <label class="uk-form-label">Quantity({{product.quantity}} available)</label>
                                    {% csrf_token %}
                                    <input type="hidden" value="{{ product.id }}" class="prod-id">
                                    <div class="">
                                        <div class="uk-inline">
                                            <button class="uk-form-icon decrement-btn">-</button>
                                            <input class="uk-input qty-input uk-text-center" type="text" value="1" style="width:150px;margin-right:30px">
                                            <button class="uk-form-icon uk-form-icon-flip increment-btn">+</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-margin-xlarge-left uk-width-expand@m uk-margin-medium-bottom"><br>
                                    {% if product.quantity > 0 %}
                                        <button class="uk-button uk-button-default uk-button-primary addToCartBtn">Add to Cart <i uk-icon="cart"></i></button>
                                    {% else %}
                                        <button class="uk-button uk-button-default uk-button-primary" disabled>Add to Cart <i uk-icon="cart"></i></button>
                                    {% endif %}
                                    <button class="uk-button uk-button-default uk-button-secondary addToWishList">Add to Wishlist <i uk-icon="heart"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="uk=background uk-text-left uk-margin-small-top">
                    <h3 class="uk-heading-divider uk-text-left">Product Description</h3>
                    <p>{{product.description}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

